!!! html
%html
  %head
    %title the_abstract_factory
    %script{ src:"https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" }
    %style
  %body
    #a.transitionary THE ABSTRACT FACTORY
    #b.transitionary the_abstract_factory
    #c.transitionary TheAbstractFactory
    