#socialicons
  %a{:href => 'http://www.facebook.com/TheAbstractFactory/', :target => 'blank'}<
    %img.socialicon{:src => '/attachments/facebook_128x128.png'}
  %a{:href => 'http://twitter.com/#!/TheAbstractFact', :target => 'blank'}<
    %img.socialicon{:src => '/attachments/twitter_128x128.png'}
  %a{:href => 'https://github.com/theabstractfactory', :target => 'blank'}<
    %img.socialicon{:src => '/attachments/github_108x108.png'}