// Variables

$container-width: 960px
$content-width: 800px

$tint: #D3D4D8
$highlight: #FFFF00
$base-color: $tint - #888
$dark-tint: $tint - #333
$background-tint: $tint + #222
$border-color: $tint + #111


$h1-scale: 2.18
$h2-scale: 1.64
$h3-scale: 1.45
$h4-scale: 1.18

// Reset

*
  margin: 0
  padding: 0

// Typography

$base-scale: 0.88
$base-font: $base-scale * 1em
$vertical-rhythm: 1.5em
$base-vertical-margin: 1.5em

@mixin adjust-font-size($scale, $top-weight: 1, $bottom-weight: 1)
  $average-margin: $base-vertical-margin / $scale
  margin-top: $average-margin * $top-weight
  margin-bottom: $average-margin * $bottom-weight
  
  $line-height: $vertical-rhythm / $scale
  @if $line-height < 1
    line-height: $line-height * 2
  @else
    line-height: $line-height

  font-size: 100% * $scale

@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius

body
  font: $base-font "Helvetica Neue", Helvetica, sans-serif
  line-height: $vertical-rhythm
  color: $base-color

h1, h2, h3, h4, h5, h6
  font-family: "Helvetica Neue", Helvetica, sans-serif
h1
  @include adjust-font-size($h1-scale, 0.6, 0.4)
  font-weight: normal
h2
  @include adjust-font-size($h2-scale, 1.5, 0.5)
  font-weight: normal
h3
  @include adjust-font-size($h3-scale, 1.5, 0.5)
  font-weight: normal
h4
  @include adjust-font-size($h4-scale, 2, 0)

ol,
p,
pre,
ul
  margin-bottom: $base-vertical-margin

li
  @include adjust-font-size(1, 0, 0)

img
  border: none

// Layout

div#header
  padding: 1em
  background-color: #000000
  height: 15em

div#container
  width: $container-width
  margin: 0 auto
  
  div.breadcrumb
    padding: 0.5em 1.1em
    font-size: 0.909em
  
  div#content
    width: $content-width
    float: left
    padding: 1px 1em
  
  div#footer
    clear: both
    padding: 0 1em
    p
      width: $content-width
      margin: 0
      padding: 1em 0

// The visuals
@mixin tint-text
  text-shadow: 0 -1px 1px white
  
@mixin yellow-tint-text
  color: $highlight
  @include tint-text

@mixin dark-tint-text
  color: $dark-tint
  @include tint-text

@mixin link-style
  @include yellow-tint-text
  text-decoration: none

a:link
  @include link-style
  
a:visited
  @include link-style

body
  background: $background-tint
  
  &.home h1
    @include adjust-font-size($h1-scale, 1, -1)

div#header
  p.title,
  p.subtitle
    margin: 0
    line-height: 1.2em
    font-weight: normal
  p.title
    font-size: 327%
  p.subtitle
    font-size: 1em
    @include yellow-tint-text

div#content
  position: relative
  @include border-radius(0.5em)
  background-color: white