@import "palette";

body{
	background:$palette_background;
	color:$palette_font_primary;
	
	a{
	  color:$palette_font_primary;
  }
	
	#header{
	  background-color:$palette_primary;
	  border-bottom-color:$palette_secondary;
  }
  
  #body{
     background:url($palette_background_image) repeat-x;
     
     .breadcrumb{
       background-color:$palette_primary;
       border-color:$palette_background;
     }
     
     .contenttilesection{
        background-color:$palette_secondary;
        border-color:$palette_background;
        
       .titleintheopen{
         background-color:$palette_secondary;
       }
       .contenttiles{
         .contenttile{
           background-color:$palette_primary;
           border-color:$palette_background;
         }
       }
     }
  }
}