$background_color:black;
$text_color:#B0C4DE;
$background_image:"http://www.pixelknete.de/dotter/dotted_bg.php?dc1=09032A&dc2=1A1532&bc1=150B47&bc2=000000&h=700";

@import "color_palette";

body{
/*  # background-color:$background_color;*/
	background:$background_color;
	color:$text_color;
	
	a{
	  color:$text_color;
  }
	
	#header{
	  background-color:$p1;
	  border-bottom-color:$p4;
  }
  
  #main{
     background:url($background_image) repeat-x;
     
     .breadcrumb{
       background-color:$p1;
     }
     
     .contenttilesection{
        background-color:$p4;
        
       .titleintheopen{
         background-color:$p4;
       }
       .contenttiles{
         .contenttile{
           background-color:$p1;
           border-color:$p4;
         }
       }
     }
  }
}