$background-color:black;
$text-color:gray;

/*colorschemedesigner.com colors*/
/* scheme: http://colorschemedesigner.com/#4931TuJcYAXFZ */
/*purples*/
$p1:#150b47; /*blue indigo*/
$p2:#1a1532; /*dark purple*/
$p3:#09032a; /*inky purple*/
$p4:#6856c3; /*med-light purple*/
$p5:#8d82c3; /*light pale purple*/

/*golds*/
$s1a:#676404;
$s2a:#494718;
$s3a:#3c3a01;
$s4a:#cdc94a; /*pop yellow*/
$s5a:#cdcb7f;

/*brown*/
$s1b:#674304; /*med brwn*/
$s2b:#493718;
$s3b:#3c2701; /*chocolate*/
$s4b:#cd9e4a;
$s5b:#cdb17f;

$background-image:"http://www.pixelknete.de/dotter/dotted_bg.php?dc1=09032A&dc2=1A1532&bc1=150B47&bc2=000000&h=700";

body{
/*  # background-color:$background-color;*/
	background:$background-color url($background-image) repeat-x;
	color:$text-color;
	
	#header{
	  background-color:$p3;
	  border-bottom-color:$p4;
  }
}