/* scheme: http://colorschemedesigner.com/#0041T--gggtqw*/
$p1:#820000;
$p2:#710F0F;
$p3:#6A0000;
$p4:#B62626;
$p5:#B64444;

$s1a:#823B00;
$s2a:#713B0F;
$s3a:#6A3000;
$s4a:#B66726;
$s5a:#B67744;

$s1b:#004E4E;
$s2b:#094444;
$s3b:#004040;
$s4b:#1F9797;
$s5b:#389797;

$c1:#006800;
$c2:#0C5A0C;
$c3:#005500;
$c4:#22A622;
$c5:#3EA63E;


/* palette assignments */
$palette_primary:$p1;
$palette_secondary:$p4;
$palette_tertiary:$p2;
$palette_heavy:$p3;
$palette_contrast:$s3b;
$palette_accent:$s4a;
$palette_highlight:$p5;
$palette_background:black;
$palette_clean:white;
$palette_neutral:#333333;
$palette_font_primary:#B0C4DE;
$palette_font_secondary:#B0C4DE;

$palette_background_image_dot1:$palette_tertiary;
$palette_background_image_dot2:$palette_primary;
$palette_background_image_bak1:$palette_primary;
$palette_background_image_bak2:$palette_background;
$palette_background_image_height:700;
$palette_background_image:"http://www.pixelknete.de/dotter/dotted_bg.php?dc1=710f0f&dc2=820000&bc1=820000&bc2=000000&h=#{$palette_background_image_height}";