!!!
%html{ :lang => "en", "xml:lang" => "en", :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=utf-8" }
    -if @description
      %meta{ "name" => "description", "content" => @description }
    -if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
    %title= @title
    -["screen", "print", "ie"].each do |f|
      %link{ :href => "https://raw.github.com/joshuaclayton/blueprint-css/master/blueprint/#{f}.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href=>"http://fonts.googleapis.com/css?family=Passero+One", :rel => "stylesheet", :type => "text/css"}
    %link{ :href => "/css/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    -if local_stylesheet?
      %link{ :href => "/css/local.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/articles.xml", :rel => "alternate", :type => "application/atom+xml" }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js", :type => "text/javascript" }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js", :type => "text/javascript" }
    =haml :analytics, :layout => false
    =yield_content :scripting
  %body{ :class => @body_class }
    #container
      #header
        %h1#title.title=@heading
        %p.subtitle= @subtitle
        =haml :socialicons, :layout => false
      #body
        =yield
      #footer
        %p
          Powered by 
          %a{ :href => "http://effectif.com/nesta" } Nesta
