%section.articles= article_summaries(latest_articles)
.contenttiles
  .leftcontenttile.contenttile
    %h3 * custom enterprise applications *
  .rightcontenttile.contenttile
    %h3 * mobile/tablet applications *
.contenttiles
  .leftcontenttile.contenttile
    %h3 * TDD/BDD application evaluations and practice implementation *
  .rightcontenttile.contenttile
    %h3 * open source contributions *