.titleintheopen
  %span what we do
.contenttiles
  .leftcontenttile.contenttile 
    %p.contenttiletitle application development
    %p
      %img.contentimage{ :src => '/attachments/business_suit.png' }
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium pharetra sem, ac sagittis nulla commodo in. Vestibulum iaculis, augue vel auctor blandit, dolor nibh vehicula ipsum, placerat vulputate urna est nec justo. Pellentesque at tellus vitae est ornare blandit vitae eu sem.
  .rightcontenttile.contenttile
    %p.contenttiletitle mobile development
    %p
      %img.contentimage{ :src => '/attachments/mobile.png' }
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium pharetra sem, ac sagittis nulla commodo in. Vestibulum iaculis, augue vel auctor blandit, dolor nibh vehicula ipsum, placerat vulputate urna est nec justo. Pellentesque at tellus vitae est ornare blandit vitae eu sem.
.titleintheopen
  %span how we do it
.contenttiles
  .leftcontenttile.contenttile
    %p.contenttiletitle test driven development
    %p
      %img.contentimage{ :src => '/attachments/test_driven_development.jpg' }
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium pharetra sem, ac sagittis nulla commodo in. Vestibulum iaculis, augue vel auctor blandit, dolor nibh vehicula ipsum, placerat vulputate urna est nec justo. Pellentesque at tellus vitae est ornare blandit vitae eu sem.
  .rightcontenttile.contenttile
    %p.contenttiletitle technical community
    %p
      %img.contentimage{ :src => '/attachments/open_source_tools.jpg' }
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium pharetra sem, ac sagittis nulla commodo in. Vestibulum iaculis, augue vel auctor blandit, dolor nibh vehicula ipsum, placerat vulputate urna est nec justo. Pellentesque at tellus vitae est ornare blandit vitae eu sem.