.question Hi sweet boy.
.contenttiles
  .leftcontenttile.contenttile 
    %h4 enterprise
    We build enterprise applications of all shapes and sizes.
  .rightcontenttile.contenttile
    %h4 mobile
    With experience with both Android and iOS we're your one stop shop for mobile development.
/ .question How we do it.
.contenttiles
  .leftcontenttile.contenttile
    %h4 test driven development
    We're crazy about test and behavior driven development and would love the opportunity to show you why!
  .rightcontenttile.contenttile
    %h4 technical community
    With two existing open source initiatives, and more on the way, we look to improve the software development ecosystem for the masses.