.contenttilesection
  .titleintheopen
    %span what we do
  .contenttiles
    .leftcontenttile.contenttile 
      %p.contenttiletitle application development
      .contenttilecontent
        %img.contentimage{ :src => '/attachments/business_suit.png' }
        %p.contenttext
          Quality application development is difficult to execute and even more difficult to identify. Considering the role enterprise applications play in your business this can be troubling, but we can help on both fronts. We love developing top tier well tested applications! We also offer to evaluate existing applications and suggest strategic enhancements to increase performance and scalability.
    #what_right.rightcontenttile.contenttile
      %p.contenttiletitle mobile development
      .contenttilecontent
        %img.contentimage{ :src => '/attachments/mobile.png' }
        %p.contenttext
          Mobile is becoming a larger part of both enterprise and professional interactions everyday. We can help your organization build a solid HTML5 mobile targeted web app or native iOS or Android applications. We also have lots of great suggestions for tackling your application's server side requirements.
    %hr
.contenttilesection
  .titleintheopen
    %span how we do it
  .contenttiles
    .leftcontenttile.contenttile
      %p.contenttiletitle test driven development
      .contenttilecontent
        %img.contentimage{ :src => '/attachments/test_driven_development.jpg' }
        %p.contenttext
          Test driven development is at the heart of what differentiates us from our competition. Using testing methods pioneered by the computer scientist on the forefront of our discipline we can develop better software faster. And the true beauty of writing automated tests is they continue to pay dividends for the entire lifetime of the codebase.
    #how_right.rightcontenttile.contenttile
      %p.contenttiletitle technical community
      .contenttilecontent
        %img.contentimage{ :src => '/attachments/open_source_tools.jpg' }
        %p.contenttext
          We encourage active involvement in the open source community. By using tools developed in parallel by many of the thought leaders in our industry we can streamline our own development process and your as well.
    %hr
    
-content_for :scripting do
  / :javascript
  /   $(document).ready(function(){
  /     var $title = $('#title');
  /     $title.fadeIn(4000, "easeInOutCirc").delay(10000).fadeOut(4000, "easeInOutCirc");
  /   });