%section.articles= article_summaries(latest_articles)
.contenttiles
  .leftcontenttile.contenttile
    %h3 * custom enterprise applications * Put something clever in me.
  .rightcontenttile.contenttile
    %h3 * mobile/tablet applications * Put something clever in me.
.contenttiles
  .leftcontenttile.contenttile
    %h3 * TDD/BDD application evaluations and practice implementation * Put something clever in me.
  .rightcontenttile.contenttile
    %h3 * open source contributions * Put something clever in me.